//Banner
.home {
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, transparent 50%),url('../src/Images/RLC_03-min.png') 50% 50% no-repeat fixed;
	background-size:cover;
	color: #ffffff;
	height: 100vh;
	h1 {
		font-family: Roxborough CF;
		font-style: italic;
	}
}

//Scroll down Button
  #section10 {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
  }
  #section10 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
	0% {
	  -webkit-transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  -webkit-transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes sdb10 {
	0% {
	  transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }

.container {
	padding:50px;
}
//StoryShared
.StoryShared {
	text-align: center;
	color: #F4F7F4;
	height: 585px;
	background: center center  linear-gradient( #1F1F1F 0%, rgba(31, 31, 31, 0.63) 100%),url('../src/Images/book-min.jpeg');
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
	@media screen and (max-width: 768px){
		width: 100vw;
	}
}

.SharedCount {
	#Title {
		font-family: Roxborough CF;
		font-style: italic;
		font-weight: 500;
		font-size: 35px;
		color: #8A80D3;
	}
	#Count {
		font-family: GT Cinetype Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 72px;
	}
	#Text {
		font-family: GT Cinetype Trial;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
	}
}
.SharedContainer {
	button {
		font-family: GT Cinetype Trial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: #1F1F1F;
		width: 198px;
		height: 60px;
		background:  rgba(244,247,244,0.65);
		border: none;
	}
}
@media only screen and (min-width: 768px) { 
	.StoryShared {
		height: 633px;
		display: flex;
	}
	.SharedCount {
		width: 50%;
		background: #1F1F1F;
		padding: 2vw;
		#Title {
			font-size: 45px;
			margin-top: 180px;
			margin-left: 15vw;
		}
		#Count {
			font-size: 6vw;
			letter-spacing: 0.1em;
			margin-left: 15vw;

		}
		#Text {
			font-size: 16px;
			margin-left: 15vw;
		
		}
		text-align: left;
	}

	.SharedContainer {
		width: 50%;
		padding: 2vw;
		background: center center  linear-gradient( #1F1F1F 0%, rgba(31, 31, 31, 0.63) 100%),url('../src/Images/book-min.jpeg');
		background-size: cover;
		p { 
			font-family: Inkpen Scribble;
			font-style: normal;
			font-weight: normal;
			font-size: 45px;
			line-height: 131%;
			margin-top: 180px;
		}
	}
}



//Story
.Story {
	background: linear-gradient(180deg, #1F1F1F 0%, rgba(31, 31, 31, 0.63) 100%),url('../src/Images/book-min.jpeg');
}

.StoryContainer {
	padding: 2vw;
	text-align: center;
	color: #F4F7F4;
}

.purple {
	background: linear-gradient(180deg, rgba(138, 128, 211, 0.1) 0%, #8A80D3 300%);
}
@media screen and (max-width: 768px){
	.StoryContainer {
		padding: 10vw;
		text-align: center;
		color: #F4F7F4;
	}
}

@media only screen and (min-width: 768px) { 
	.Story{
		display: flex;
		height: 646px;
	}
	.StoryContainer {
		width: 50%;
		text-align: left;
		padding: 7vw;
	}
}

#StoryTitle {
	font-family: Inkpen Scribble;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
}

#StoryParagraph {
	font-family: GT Cinetype Trial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

#StoryUs {
	font-family: Roxborough CF;
	font-style: italic;
	font-weight: 500;
	font-size: 45px;
}

#ParagraphUs {
	font-family: GT Cinetype Trial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

.StoryContainer button{
	background: #F4F7F4;
	font-size: 12px;
	height: 60px;
	width: 198px;
	border: none;
}
//Footer
#footer {
    background: #000000;
	color: #ffffff;
	height: 450px;
	text-align: center;
	h1 {
		font-family: Roxborough CF;
		font-style: italic;
	}
	border: solid black;
}

ul{
    list-style-type: none;
}

#footerList, ul li{
	font-family: GT Cinetype Trial;
	padding: 1em;
	display: inline-block;
	a {
		color: white;
	}
}
#footerButton{
	background: #ffffff;
	min-width: 150px;
	max-width: 250px;
	margin: 0.5em;
	padding: 1em 2em;
	border: 1px solid white;
	background: none;
	color: inherit;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	&:hover {
		border: 3px solid white;;
	}
	&:active {
		padding: 0.8em 1.5em;
	}
}

#social, #copyrights{
	padding: 15px 0;
	//box-sizing: border-box;
	cursor: default;
	a {
		display: inline-flex;
		width: 42px;
		height: 42px;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		transition: 0.2s ease;
		position: relative;
        border-radius: 50%;
		padding: 0.2em	
	}
	&:hover a {
		transform: scale(0.8,0.8);
		z-index: 0;
		&:hover {
			transform: scale(1.4,1.4);
			z-index: 1;
		}
	}
}

#copyrights {
    font-size: 14px;
	font-weight: 400;
	font-family: GT Cinetype Trial;
}


// DARK THEME
#social.socialDark {
	&:hover a {
		opacity: .5;
	}
	a {
		color: #eee;
		background: #000000;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
		&:hover {
			opacity: 1;
		}
	}
}